PROJECT_NAME=TrekCaptain
STACK_NAME=trekcaptain
DOMAIN=localtest.me
DOCKER_IMAGE_BACKEND=trekcaptain-backend
DOCKER_IMAGE_FRONTEND=trekcaptain-frontend
ENVIRONMENT=local
FRONTEND_HOST=http://localhost:5173
BACKEND_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
SECRET_KEY=changethis
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=changethis
SMTP_HOST=mailcatcher
SMTP_PORT=1025
SMTP_TLS=false
SMTP_SSL=false
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=noreply@example.com
EMAILS_FROM_NAME=TrekCaptain
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis
POSTGRES_DB=app
SENTRY_DSN=
AWS_REGION=ap-south-1
SENDER_EMAIL=no-reply@example.com
JWT_SECRET=changethis
